<%= simple_form_for(@provider) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :nip %>
    <%= f.association :user %>
    <%= f.association :invoice %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
