<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @provider.address %>
</p>

<p>
  <strong>Nip:</strong>
  <%= @provider.nip %>
</p>

<p>
  <strong>User:</strong>
  <%= @provider.user %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @provider.invoice %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
