<%= form_for @invoice, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :number, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :issue_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :issue_date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :due_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :due_date, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  invoices_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
