<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @customer.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Nip:</strong>
  <%= @customer.nip %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @customer.invoice %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
