<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @product.invoice %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
